*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
  min-height: 100vh;
  background-color: black;
  color:white;
}